html, body{
    background: white;
    color: black;
}

.tile {
    background-color: white;
}

.p1BigTile {
    background-color: #006154;
}

.p2BigTile {
    background-color: #D81B60;
}

.p1SmallTile {
    background-color: #006154;
}

.p2SmallTile {
    background-color: #D81B60;
}

.top.tile {
    border-bottom: 1px  solid black;
}

.top.bigTile{
    border-bottom: 3px solid black;
}

.bottom.tile{
       border-top: 1px  solid black;
}

.bottom.bigTile{
    border-top: 3px  solid black;
}

.left.tile{
    border-right: 1px  solid black;
 }

.left.bigTile{
     border-right: 3px  solid black;
  }

.right.tile{
    border-left: 1px  solid black;
}

.right.bigTile{
    border-left: 3px  solid black;
}

.lightRed {
    animation: blinker 2s linear infinite;
    background-color:  #009989 !important;
}

nav {
  background-color: #009989 !important;
  color: white;
}

nav ul li a{
  color: white !important;
}

.page-footer {
    background-color:  #009989 !important;
}

.title {
    color: white !important;
}

blockquote {
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #009989 !important;
}

.example .pagination>li>a,
.example .pagination>li>span {
  border: 1px solid #009989 !important;
}
.pagination>li.active>a {
  background: #009989;
  color: #009989;
  border-radius: 2px !important;
}

nav .sidenav-trigger i {
    color: white;
}

color: black !important;
}
