@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: lightgrey;
  color: white !important;
  font-family: 'Roboto', sans-serif;

}
#output {
     text-align: center;
}

.container {
    width: 95% !important;
}

#tileWrapper {
/*  width: 360px;
  height: 360px;*/
  text-align: center;
  margin: auto;
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
}

#control {
    width: 100%;
}

#pagination {
    overflow-x: auto;
    height: 3em;
    white-space: nowrap;
    scroll-behavior: smooth;
}

/*NOT WORKING ON IOS*/
/*.square{
	position: relative;
	width: 100%;		/* desired width *//*
}
.square:before{
	content: "";
	display: block;
	padding-top: 100%; 	*//* initial ratio of 1:1*//*
}*/

.square {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". . ." ". . ." ". . .";
}

.bigTile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    flex: 0 0 33.3%;
}

.bigTile:nth-child(3n) {
}

.tile {
    background-color: lightgrey;
    flex: 0 0 33.3%;
}

.tile:nth-child(3n) {
}

.p1BigTile {
    background-color: #E8E8E8;
}

.p2BigTile {
    background-color: #444444;
}

.p1SmallTile {
    background-color: #E8E8E8;
}

.p2SmallTile {
    background-color: #444444;
}

.top.tile {
    border-bottom: 1px  solid white;
}

.top.bigTile{
    border-bottom: 3px solid white;
}

.bottom.tile{
       border-top: 1px  solid white;
}

.bottom.bigTile{
    border-top: 3px  solid white;
}

.left.tile{
    border-right: 1px  solid white;
 }

.left.bigTile{
     border-right: 3px  solid white;
  }

.right.tile{
    border-left: 1px  solid white;
}

.right.bigTile{
    border-left: 3px  solid white;
}

.wrapper {
    width: 90%;
    margin: 5% auto;
}

.modal input {
    width: 100%;
}

.card-content .bar {
    display: grid;
    height: 5px;
}

#control .bar {
    display: grid;
    height: 20px;
    width: 100%;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    margin-bottom: 1em;
    padding: 0 2%;
}

.bar > div {
    height: inherit;
}

.viewPortHeight {
   height: 100vh;
}

.title {
 font-size:5vh;
}